* {
    margin: 0;
    padding: 0;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

header {
    text-align: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.targets {
    width: 100%;
    height: 100%;
}

.target {
    border-radius: 2em;
    font-size: 1.5em;
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    cursor: grab;
}

.target:hover {
    background-color: white;
    color: black;
}

.next-btn {
    padding: 20px;
}

.intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}